<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.knime.workbench.repository.categories">
      <category
            icon="icons/missing.gif"
            level-id="ensembles"
            name="Ensemble Learning"
            path="/mining">
      </category>
   </extension>
   <extension
         point="org.knime.workbench.repository.nodes">
      <node
            category-path="/"
            expert-flag="false"
            factory-class="org.knime.ensembles.pmmlporttocell.PMMLPortToCellNodeFactory"
            id="org.knime.metalearning.pmmlporttocell.PMMLPortToCellNodeFactory">
      </node>
      <node
            category-path="/"
            expert-flag="false"
            factory-class="org.knime.ensembles.pmmlcollector.PMMLCollectorNodeFactory"
            id="org.knime.metalearning.pmmlporttocell.PMMLPortToCellNodeFactory">
      </node>
      <node
            category-path="/mining/ensembles"
            expert-flag="false"
            factory-class="org.knime.ensembles.modeltotable.ModelToTableNodeFactory"
            id="org.knime.ensembles.modeltotable.ModelToTableNodeFactory">
      </node>
      <node
            category-path="/mining/ensembles"
            expert-flag="false"
            factory-class="org.knime.ensembles.tabletomodel.TableToModelNodeFactory"
            id="org.knime.ensembles.tabletomodel.TableToModelNodeFactory">
      </node>
      <node
            category-path="/mining/ensembles"
            expert-flag="false"
            factory-class="org.knime.ensembles.boosting.BoostingLearnerLoopStartNodeFactory"
            id="org.knime.ensembles.boosting.BoostingLearnerLoopStartNodeFactory">
      </node>
      <node
            category-path="/mining/ensembles"
            expert-flag="false"
            factory-class="org.knime.ensembles.boosting.BoostingLearnerLoopEndNodeFactory"
            id="org.knime.ensembles.boosting.BoostingLearnerLoopEndNodeFactory">
      </node>
      <node
            category-path="/mining/ensembles"
            expert-flag="false"
            factory-class="org.knime.ensembles.tabletomodel.TableToModelNodeFactory"
            id="org.knime.ensembles.tabletomodel.TableToModelNodeFactory">
      </node>
   </extension>
   <extension
         point="org.knime.workbench.repository.metanode">
   </extension>

</plugin>
