<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.knime.workbench.repository.categories">
      <category
            icon="icons/missing.gif"
            level-id="ensembles"
            name="Ensemble Learning"
            path="/mining">
      </category>
      <category
            icon="icons/missing.gif"
            level-id="boosting"
            name="Boosting"
            path="/mining/ensembles">
      </category>
      <category
            icon="icons/missing.gif"
            level-id="bagging"
            name="Bagging"
            path="/mining/ensembles">
      </category>
   </extension>
   <extension
         point="org.knime.workbench.repository.nodes">
      <node
            category-path="/"
            expert-flag="false"
            factory-class="org.knime.ensembles.pmmlporttocell.PMMLPortToCellNodeFactory"
            id="org.knime.metalearning.pmmlporttocell.PMMLPortToCellNodeFactory">
      </node>
      <node
            category-path="/"
            expert-flag="false"
            factory-class="org.knime.ensembles.pmmlcollector.PMMLCollectorNodeFactory"
            id="org.knime.metalearning.pmmlporttocell.PMMLPortToCellNodeFactory">
      </node>
      <node
            category-path="/mining/ensembles"
            expert-flag="false"
            factory-class="org.knime.ensembles.modeltotable.ModelToTableNodeFactory"
            id="org.knime.ensembles.modeltotable.ModelToTableNodeFactory">
      </node>
      <node
            category-path="/mining/ensembles"
            expert-flag="false"
            factory-class="org.knime.ensembles.tabletomodel.TableToModelNodeFactory"
            id="org.knime.ensembles.tabletomodel.TableToModelNodeFactory">
      </node>
      <node
            category-path="/mining/ensembles/boosting"
            expert-flag="false"
            factory-class="org.knime.ensembles.delegating.DelegatingLoopEndNodeFactory"
            id="org.knime.ensembles.delegating.DelegatingLoopEndNodeFactory">
      </node>
      <node
            category-path="/mining/ensembles/boosting"
            expert-flag="false"
            factory-class="org.knime.ensembles.delegating.DelegatingLoopStartNodeFactory"
            id="org.knime.ensembles.delegating.DelegatingLoopStartNodeFactory">
      </node>
      <node
            category-path="/mining/ensembles/boosting"
            expert-flag="false"
            factory-class="org.knime.ensembles.boosting.BoostingLearnerLoopStartNodeFactory"
            id="org.knime.ensembles.boosting.BoostingLearnerLoopStartNodeFactory">
      </node>
      <node
            category-path="/mining/ensembles/boosting"
            expert-flag="false"
            factory-class="org.knime.ensembles.boosting.BoostingLearnerLoopEndNodeFactory"
            id="org.knime.ensembles.boosting.BoostingLearnerLoopEndNodeFactory">
      </node>
      <node
            category-path="/mining/ensembles/boosting"
            expert-flag="false"
            factory-class="org.knime.ensembles.boosting.BoostingPredictorLoopStartNodeFactory"
            id="org.knime.ensembles.boosting.BoostingPredictorLoopStartNodeFactory">
      </node>
      <node
            category-path="/mining/ensembles/boosting"
            expert-flag="false"
            factory-class="org.knime.ensembles.boosting.BoostingPredictorLoopEndNodeFactory"
            id="org.knime.ensembles.boosting.BoostingPredictorLoopEndNodeFactory">
      </node>
      <node
            category-path="/mining/ensembles/bagging"
            expert-flag="false"
            factory-class="org.knime.ensembles.bagging.ModelLoopStartNodeFactory"
            id="org.knime.ensembles.bagging.ModelLoopStartNodeFactory">
      </node>
      <node
            category-path="/mining/ensembles/bagging"
            expert-flag="false"
            factory-class="org.knime.ensembles.bagging.ModelLoopEndNodeFactory"
            id="org.knime.ensembles.bagging.ModelLoopEndNodeFactory">
      </node>
   </extension>
</plugin>
